{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "auth.reltio.com",
  "basePath" : "/oauth",
  "schemes" : [ "https" ],
  "paths" : {
    "/token" : {
      "get" : {
        "tags" : [ "Login" ],
        "summary" : null,
        "description" : null,
        "operationId" : "Login",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        },{
          "name" : "password",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "grant_type",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "username",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Login"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Login" : {
      "properties" : {
        "access_token" : {
          "type" : "string"
        },
        "token_type" : {
          "type" : "string"
        },
        "refresh_token" : {
          "type" : "string"
        },
        "expires_in" : {
          "type" : "number",
          "format" : "int32"
        },
        "scope" : {
          "type" : "string"
        }
      }
    }
  }
}